.frameChild {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 104px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ellipseParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.div2,
.iFeel {
  position: relative;
  display: inline-block;
}
.iFeel {
  margin: 0;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  min-width: 54px;
}
.div2 {
  min-width: 78px;
}
.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.frameGroup,
.iFeelParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xs);
}
.iFeelParent {
  font-size: var(--font-size-5xl);
}
.frameGroup {
  padding: 0 var(--padding-38xl) 0 0;
}
.frameItem {
  height: 100px;
  width: 100px;
  position: relative;
  border-radius: var(--br-9xs);
  object-fit: cover;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.h2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  height: 14.3px;
  width: 15px;
  position: relative;
  min-height: 14px;
}
.parent,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.parent {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.p,
.p1,
.p2,
.p3 {
  margin: 0;
}
.div3 {
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 300;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.div4 {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
  display: inline-block;
  min-width: 69px;
}
.div,
.frameContainer,
.wrapper {
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-xl);
}
.div,
.wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.div {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4.6px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-gainsboro);
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-4xs);
  gap: var(--gap-xs);
  cursor: pointer;
}
.wrapper {
  width: 346px;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
