.frameChild {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 104px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ellipseParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.allergy {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.allergyWrapper {
  width: 106.7px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs);
  box-sizing: border-box;
}
.div2 {
  align-self: stretch;
  height: 42px;
  position: relative;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frameContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
}
.div3 {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.frame {
  flex-direction: column;
  padding: var(--padding-7xs) 0 0;
  margin-left: -19px;
  font-size: var(--font-size-xs);
}
.frame,
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
  min-width: 112px;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  height: 14.3px;
  width: 15px;
  position: relative;
  min-height: 14px;
}
.frameWrapper1,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorParent {
  gap: var(--gap-9xs);
}
.frameWrapper1 {
  padding: 0 var(--padding-smi) 0 var(--padding-9xs);
}
.div4 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.child,
.frameDiv,
.frameParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameDiv {
  height: 43.3px;
  flex-direction: column;
  padding: 0 0 var(--padding-10xl);
  box-sizing: border-box;
  gap: var(--gap-smi);
  font-size: var(--font-size-sm);
  color: var(--color-darkgray);
}
.child,
.frameParent {
  flex-direction: row;
}
.frameParent {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-4xl);
}
.child {
  align-self: stretch;
  padding: 0 0 0 var(--padding-smi);
  font-size: var(--font-size-5xl);
}
.vectorIcon5 {
  height: 18.4px;
  width: 20px;
  position: relative;
  min-height: 18px;
}
.div5 {
  position: relative;
  display: inline-block;
  min-width: 14px;
}
.wrapper1 {
  flex-direction: column;
  padding: var(--padding-10xs-2) 0 0;
}
.div,
.favoriteBorder,
.wrapper,
.wrapper1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.favoriteBorder {
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-2xs);
  gap: var(--gap-xs);
  font-size: var(--font-size-xs);
}
.div,
.wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.div {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-6xs) var(--padding-base-6)
    var(--padding-base);
  gap: var(--gap-4xs);
}
.wrapper {
  width: 378px;
  flex-direction: row;
  padding: 0 var(--padding-lgi) var(--padding-11xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
