.frameChild {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.div1 {
  position: relative;
  display: inline-block;
  min-width: 104px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.ellipseParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.frameWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.div2 {
  position: relative;
  display: inline-block;
  min-width: 108px;
}
.frame,
.frameParent,
.inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame {
  flex-direction: row;
  padding: 0 0 0 var(--padding-18xl);
  color: var(--color-darkgray);
}
.frameParent,
.inner {
  flex-direction: column;
}
.inner {
  flex-direction: row;
  padding: 0 var(--padding-6xs);
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameInner,
.frameItem,
.rectangleIcon {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 225px;
  border-radius: var(--br-8xs);
  max-height: 100%;
  width: 90px;
  object-fit: cover;
}
.frameChild1,
.frameChild2,
.frameChild3,
.frameInner,
.rectangleIcon {
  left: 180px;
  z-index: 1;
}
.frameChild1,
.frameChild2,
.frameChild3,
.rectangleIcon {
  left: 135px;
  z-index: 2;
}
.frameChild1,
.frameChild2,
.frameChild3 {
  left: 90px;
  z-index: 3;
}
.frameChild2,
.frameChild3 {
  left: 45px;
  z-index: 4;
}
.frameChild3 {
  left: 0;
  z-index: 5;
}
.rectangleParent {
  height: 90px;
  flex: 1;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.child {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs) var(--padding-7xs) var(--padding-8xs);
}
.kPop {
  height: 28px;
  flex: 1;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.kPopWrapper {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
}
.div3 {
  height: 25px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.vectorIcon {
  height: 18.4px;
  width: 20px;
  position: relative;
  min-height: 18px;
}
.div4 {
  position: relative;
  display: inline-block;
  min-width: 14px;
}
.wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-2) 0 0;
}
.favoriteBorder {
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-10xs) var(--padding-2xs);
  gap: var(--gap-xs);
  flex-shrink: 0;
  debug_commit: 1de1738;
  font-size: var(--font-size-xs);
}
.div,
.favoriteBorder,
.frameGroup,
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  width: 233px;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.div,
.wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.div {
  flex: 1;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: column;
  padding: var(--padding-base) var(--padding-6xs) var(--padding-4xs-6);
  gap: var(--gap-smi);
}
.wrapper {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
